proyectoweb/ __pycache__
proyectowebApp/ __pycache__/urls.cpython-311
proyectowebApp/ __pycache__/urls.cpython-311views.cpython-311.pyc
ProWep/proyectoweb/proyectowebApp/__pycache__
proyectowebAppAforo/__init__