

form{
    text-align: center;
    background: black;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: auto;;
}
.tabla{
    text-align: center;
    border: 1px red solid;
    background: rgb(97, 159, 209);
    margin: 0px auto;
    margin-bottom: 40px;
    border-collapse: collapse;
    padding: 300px;
}

.par{
    text-align: center;
    color: rgb(204, 24, 204);
    padding: 20px;
}
.tabla2 {
    table-layout: fixed;
    width: 250px;
    height: 100px;
}
.tablacont{
width: 100%;
color: aliceblue;

text-align: center;
table-layout: fixed;
width: 450px;
border: 1px red solid;
}  