{% extends "proyectowebApp/base.html" %}

{% load static %}

{% block content %}

<link href="{% static 'proyectowebApp/css/presentacion.css' %}" rel="stylesheet">


<div class="pagewrap">
    <form class="form" id="form">
        <h3 class="form__title">Login</h3>
        <div class="container">
        <input class="container__input" type="text" id="username" name="username" value="" required>
        <label id="userLabel" for="username" class="container__label">Nombre deUsuario</label>
        </div>
        <div class="container">
        <input class="container__input" type="password" id="pass" name="password" value="" required>
        <label id="passLabel" for="pass" class="container__label">contraseña</label>
        </div>

        <div class="container">
            <input class="container__input" type="password" id="pass" name="password" value="" required>
            <label id="passLabel" for="pass" class="container__label">Contraseña confirmada</label>
            </div>
        <button class="form__submit" id="submit" type="button" value="submit">Submit</button>
    </form>
</div>

{% endblock %}
