{% extends "proyectowebApp/inicio.html" %}

{% load static %}

{% block content %}

<div id="contenedor">
    <div id="contenedorcentrado">
        <div id="login">
            <form id="formulario-guia">
                <label for="nomb-guia">Nombre de Guia</label>
                <input id="nomb-guia" type="text" name="nomb-guia" placeholder="nomb-guia" required>
                
                <label for="apell-guia">Apellido Guia</label>
                <input id="apell-guia" type="text" name="apell-guia" placeholder="apell-guia" required>
                
                <label for="dni">DNI</label>
                <input id="dni" type="number" placeholder="DNI" name="dni" required>
                
                <button type="submit" title="Ingresar" name="Ingresar">Login</button>
            </form>
            
        </div>
        <div id="derecho">
            <div class="titulo">
                Guia
            </div>
            <hr>
            <div class="pie-form">
                <a href="#">Hola como esta Aqui estamos trabajando con DLANGO</a>
                <a href="#">En este corto tiempo emos emplementado un sistema de aforo</a>
                <hr>
                <a href="#">« Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}