{% extends "proyectowebApp/inicio.html" %}

{% load static %}

{% block content %}
<link href="{% static 'proyectowebApp/css/sitio.css' %}" rel="stylesheet">

<div id="contenedor">
    <div id="contenedorcentrado">
        <div id="login">
            <form id="formulario-sitio-arqueologico" method="POST">
                {% csrf_token %}
                <label for="sitio">Sitio Arqueologico</label>
                <input id="sitio" type="text" name="sitio" placeholder="sitio" required>
                
                <label for="aforo">Aforo</label>
                <input id="aforo" type="number" placeholder="aforo" name="aforo" required>
                
                <button type="submit" title="Ingresar" name="Ingresar">Guardar</button>
            </form>
            
        </div>
        <div id="derecho">
            <div class="titulo">
                Sitio Arqueologico
            </div>
            <hr>
            <div class="pie-form">
                <a href="#">Hola como esta Aqui estamos trabajando con DLANGO</a>
                <a href="#">En este corto tiempo emos emplementado un sistema de aforo</a>
                <hr>
                <a href="#">« Volver</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}