{% extends "proyectowebApp/base.html" %}

{% load static %}

{% block content %}

<link href="{% static 'proyectowebApp/css/usuario.css' %}" rel="stylesheet">

<div class="formulario">
    <h1>INICiar secion</h1>
    <form action="" method="post">
        <div class="username">
            <label for="nombre">Nombre</label>
            <input type="text">
        </div>
        <div class="apellido">
            <label for="apellido">Apellidio:</label>
            <input type="text" name="apellido">
        </div>
        <div class="correo">
            <label for="correi">Correo</label>
            <input type="email" name="correo" id="">
        </div>

        <div class="contrasena">
            <label for="contrasena">Contraseña</label>
            <input type="password" name="contrasena" id="">
        </div>
        <div class="recordar">has olvidado tu contraseña</div>
        <input type="submit" name="" id="" value="Iniciar">
        
    </form>
</div>
{% endblock %}
