{% extends "proyectowebApp/inicio.html" %}

{% load static %}

{% block content %}


<div id="contenedor">
    <div id="contenedorcentrado">
        <div id="login">
            <form id="loginform">

                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" name="nombre" placeholder="nombre" required>

                <label for="apellido">Apellido</label>
                <input id="apellido" type="text" name="apellido" placeholder="apellido" required>

                <label for="doc">Tipo de documento</label>
                <input id="doc" type="text" name="doc" placeholder="doc" required>

                <label for="dni">DNI o PAsaporte</label>
                <input id="dni" type="text" name="dni" placeholder="dni" required>
                
                <label for="nacionalidad">Nacionalidad</label>
                <input id="nacionalidad" type="text" placeholder="Contraseña" name="password" required>
                
                <button type="submit" title="Ingresar" name="Ingresar">Login</button>
            </form>
            
        </div>
        <div id="derecho">
            <div class="titulo">
                Visitante
            </div>
            <hr>
            <div class="pie-form">
                <a href="#">Hola como esta Aqui estamos trabajando con DLANGO</a>
                <a href="#">En este corto tiempo emos emplementado un sistema de aforo</a>
                <hr>
                <a href="#">« Volver</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}